<div class="main posts-index">
  <div class="container">
    <% @konnos.each do |konno|%>
      <div class="posts-index-item">
        <%=link_to(konno.content,"/posts/#{konno.id}")%>
      </div>
    <%end%>
  </div>
</div>
